body {
	text-align: center;
}

.header {
	display: inline-block;
	width: 95%;
	height: 220px;
	background: #fff794;
}
.menu {
	margin-top: 2%;
	display: inline-block;
	width: 25%;
	height: 500px;
	background: #94ff97;
	margin-right: 2%;
}
.content {
	margin-top: 2%;
	margin-left: -4px;
	display: inline-block;
	width: 65%;
	height: 500px;
	background: #C591FF;
}

@media (min-width: 320px) and (max-width: 600px) {
	.content {
		width: 95%;
	}
	.menu {
		width: 95%;
	}
}