.gallery {
  display: flex;
  height: 100vh;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  align-self: flex-start;
  align-content: stretch; }

.block {
  width: 100px;
  height: 90px;
  background-color: #DFDFDF;
  text-align: center;
  line-height: 6em;
  border: 2px solid #ff2570;
  margin-right: 10px;
  font-weight: bold;
  font-family: sans-serif; }
